
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=shadow-multiple|3d-float&display=swap');
/* Se le pueden meter varias fuentes al mismo import con &*/
/* Efectos de https://developers.google.com/ */

h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: 'Sofia', cursive;

}

.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
    /* variante de colocar fonts en una sola linea
    font: font-style font-variant font-weight *font-seize/line-height *font-family;*/
}

.caja.serif{
    background-color: #5a189a;
}

.fuente_times{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 22px;
}

.fuente_georgia{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em; /* El em es los 16px que es el default en los navegadores osea que 16 dividido 16 da 1, osea 1em*/

}

.caja.sans-arial{
    background-color: #00d4d8;
    font-style: oblique;
    font-weight: bolder;
}


.fuente_arial{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw; /* esto es para tener en cuenta el ancho u otras medidas de la pantalla es una forma
    de DISENO RESPONSIVO*/
}

.fuente_verdana{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.caja.monospace{
    background-color: #f15bb5;
}

.fuente_currier{
    font-family:'Courier New', Courier, monospace;
}

.caja.cursive{
    background-color: #ff8500;
}

.fuente_lucida{
    font-family:'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}