/* Con la # se pueden tener bloques de estilos para implantarlos a dedo
OJO: este selector NO es una CLASE asi que solo se puede aplicar UNA SOLA VEZ
por HTML*/


/* Este es un SELECTOR UNIVERSAL*/
*{
    background-color: ghostwhite;
    color: cornflowerblue;
}


/*TYPE SELECTOR, cuando se busca por tipo (ojo afecta a todos los que sean de este tipo)
div {
  color: white;
}*/

/*CLASS SELECTOR
<!-- index.html -->
<div class="alert-text">
  Please agree to our terms of service.
</div>

<!--styles.css-->
.alert-text {
    color: red;
  }*/

#titulo{
    color: crimson;
    text-align: center;
}

/* Con un punto se delcaran las clases para se utilizadas mas de una vez*/
.centrar{
    text-align: center;
}

.texto_grande{
    font-size: 20px;
}